@{
    ViewBag.Title = "Index";
}

<article>
    <h2>Contact Us</h2>
    <p>
         Put content here.
    </p>

    <iframe width="625" height="250" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=701+1st+Ave,+Sunnyvale,+CA+94089,+USA&amp;aq=0&amp;oq=701+&amp;sll=37.0625,-95.677068&amp;sspn=45.418852,93.076172&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=701+1st+Ave,+Sunnyvale,+California+94089&amp;z=14&amp;ll=37.417222,-122.02511&amp;output=embed"></iframe>
</article>