@{
    ViewBag.Title = "Home Page";
}
<article>
    <h2>Welcome to Concept Cleaning & Services</h2>
    <p>
        Where we care about cleaning, properly!
    </p>
    <p>
        Oh, and you have 5 email addresses that you can create that all end at @@conceptcleaning.co.za. Some choices could be:
    </p>
    <ul>
        <li>nellie@conceptcleaning.co.za</li>
        <li>sales@concepcleaning.co.za</li>
        <li>info@concentcleaning.co.za</li>
    </ul>
</article>